.adDetails-body {
    padding-bottom: 4rem;
    background-color: var(--amarillo-claro);
    min-height: 100vh;
}

.ad-owner-data {
    padding-top: 4rem;
}

.ad-owner-data p {
    color: var(--gris-oscuro);
}

.ad-owner {
    font-size: 1.2rem;
    margin: 0;
}

.adOwner-location {
    font-size: 1rem;
}

.ad-description {
    max-width: 80vw;
    margin: 0 auto;
    text-align: start;
    border: 0.5px solid var(--gris);
    border-radius: 10px;
    padding: 1rem;
}

.ad-description span {
    font-weight: 600;
}

.btn-editarAd,
.btn-borrarAd {
    margin: 0 1.5vw 2vh 1.5vw;
}

.btn-mensaje {
    padding: 1vh 3vw;
    border-radius: 10px;
    border: 1px solid var(--gris);
    background-color: whitesmoke;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: rgb(86, 86, 86);
    transition: transform 0.3s ease-out;
}

.fav-msg-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .ad-owner-data {
        padding-top: 5rem;
    }

    .ad-description {
        max-width: 75vw;
    }
}

@media (min-width: 992px) {

    .ad-owner-data {
        padding-top: 8rem;
    }

    .ad-description {
        max-width: 75vw;
    }

    .adDetails-body { 
        padding-bottom: 2rem;
    }
}