.allAds-container {
    display: block;
    padding-bottom: 4.5rem;
}

@media (min-width: 768px) {

    .allAds-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 2rem;
    }
}

@media (min-width: 992px) {

    .allAds-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5rem;
    }
}