.allmsgs-title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarillo);
    height: 3.5rem;
    position: fixed;
    width: 100%;
}

.allmsgs-title-container {
    color: var(--gris-oscuro);
}

.allmsgs-container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.edit-btn {
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--gris);
    background-color: whitesmoke;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: rgb(86, 86, 86);
    transition: transform 0.3s ease-out;
}

.deleteChat-btn-div {
    background-color: rgb(229, 111, 111);
    border: 0.5px solid var(--gris);
    height: 20vw;
    width: 20vw;
    padding: 1vh;
    display: flex;
    justify-content: center;
}

.deleteChat-btn {
    border: none;
    background-color: rgb(229, 111, 111);
    color: whitesmoke;
    font-size: 1rem;
}

.edit-btn:hover,
.deleteChat-btn:hover {
    transform: translateY(-2px) translateZ(0) scale(1.05);
}

.one-chat-link {
    width: 100vw;
}

.contact-link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {

    .allmsgs-container {
        padding-top: 5rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5vw;
        padding-bottom: 5rem;
    }

    .one-chat-link {
        width: auto;
    }

    .contact-link-container {
        display: block;
    }

    .deleteChat-btn-div {
        height: 2rem;
        width: 15rem;
        border-radius: 10px;
        margin-top: 0.5rem;
    }
    
    .deleteChat-btn {
        border: none;
        background-color: rgb(229, 111, 111);
        color: whitesmoke;
        font-size: 1rem;
    }

}

@media (min-width: 992px) {
    .allmsgs-title-container {
        margin-top: 3rem;
    }

    .allmsgs-container {
        padding-top: 8rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5vw;

    }

}