.editAd-body {
    min-height: 100vh;
    background-color: var(--amarillo-claro);
    color: var(--gris-oscuro);
    padding-bottom: 7vh;
}

.editAd-container {
    padding-top: 4rem;
}

.editAd-form {
    width: 80vw;
    padding: 2vh;
    margin: 0 auto;
}

.editAd-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2vh;
    align-items: flex-start;
    width: 100%;
}

.editAd-div input,
.editAd-div select,
.editAd-div textarea {
    width: 98%;
    border-radius: 5px;
    border: 1px solid var(--gris);
    height: 2rem;
    background-color: whitesmoke;
}

.editAd-div select {
    width: 98.5%;
}

.editAd-div textarea {
    height: 8rem;
}

@media (min-width: 768px) {
    
    


}

@media (min-width: 992px) {
    
    .editAd-container {
        padding-top: 8rem;
    }


}