.search-container {
    padding-top: 3rem;
}

.favAds-container {
    padding-bottom: 4.5rem;
}

@media (min-width: 768px) {

    .favAds-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2.5rem;
        padding-top: 2rem;
    }

}

@media (min-width: 992px) {
    .favAds-body {
        padding-top: 3.5rem;
    }

    .favAds-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5vw;
        padding-top: 5vh;
    }

}