.search-container {
    min-height: 3rem;
}

.favAds-container {
    padding-bottom: 4.5rem;
}

@media (min-width: 768px) {

    .favAds-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2.5rem;
        padding: 2rem 1rem 4.5rem 1rem;
    }

}

@media (min-width: 992px) {

    .favAds-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5rem;

        padding: 2rem 5rem;
    }

}