

.search-container {
    padding-top: 3.5rem;
    
}


.uaserAds-container {
    padding-bottom: 4rem;
}

@media (min-width: 768px) {

    .userAds-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5vw;
        padding-top: 5vh;
    }

}

@media (min-width: 992px) {
    

    .userAds-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5vw;
        padding-top: 5vh;
    }

}