.title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarillo);
    height: 3.5rem;
    position: fixed;
    width: 100%;
}

.title-container h3 {
    color: var(--gris-oscuro);
}

.divStyle {
    width: 10vw;
}

@media (min-width: 992px) {
    .title-container {
        margin-top: 3.5rem;
    }
}