.title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarillo);
    height: 3.5rem;
    position: fixed;
    width: 100%;
}

.title-container h3 {
    color: var(--gris-oscuro);
}

.divStyle {
    max-width: 3.5rem;
}

@media (min-width: 768px) {
    
    .title-container h3 {
        padding-left: 0rem;
    }

}

@media (min-width: 992px) {

    .title-container h3 {
        padding-left: 0rem;
    }

    .title-container {
        margin-top: 3.5rem;
    }
}