.btn-favAd {
    padding: 0.6vh 4vw;
    margin: 0 1.5vw;
    border-radius: 10px;
    border: 1px solid var(--gris);
    background-color: whitesmoke;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: rgb(86, 86, 86);
    transition: transform 0.3s ease-out;
}

.btn-favAd:hover {
    transform: translateY(-2px) translateZ(0) scale(1.05);
}

@media (min-width: 768px) {
    .btn-favAd {
        max-width: 10vw;
    }
}