.navBar {
    width: 100%;
}

.mobile-navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarillo);
    height: 3.5rem;
}

.home-icon {
    width: 2.5rem;
    opacity: 0.80;
}

.fav-icon {
    width: 2rem;
    opacity: 0.80;
}

.add-icon {
    width: 2rem;
    opacity: 0.80;
}

.mssg-icon {
    width: 2.5rem;
    opacity: 0.80;
}

.profile-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid var(--gris);
    opacity: 0.85;
}

.web-navBar,
.logo {
    display: none;
}

.notLogin-navBar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    gap: 2rem;
    padding: 1rem 0;
    background-color: var(--amarillo);
}

.notLogin-navBar a {
    color: var(--gris);
}

@media (min-width: 992px) {
    .mobile-navBar {
        display: none;
    }

    .web-navBar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        padding: 1rem;
        background-color: var(--amarillo);
        
    }

    .logo{
        display: block;
        width: 9rem;
        z-index: 999;
        position: fixed;
        left: 8vw;
        top: 0;
        margin-top: 0.5rem;
    }

    .web-navBar a {
        color: var(--gris);
    }

    .web-navBar a:hover,
    .web-navBar a:active {
        color: var(--gris-oscuro);
    }

}