.searchBar-body {
    height: 3.5rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--amarillo-claro);
}

.select-searchBar,
.input-searchBar {
    width: 30vw;
    border-radius: 5px;
    border: 1px solid var(--gris);
    height: 2rem;
    background-color: whitesmoke;
}

.input-searchBar {
    height: 1.8rem;
}

.select-searchBar:focus, 
.input-searchBar:focus {
    outline: none;
}

@media (min-width: 768px) {
    .searchBar-body{
        padding-top: 0.5rem;
    }
    .select-searchBar,
    .input-searchBar {
        margin-bottom: 0.8rem;
    }
}